# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Docker image

on:
  release:
    types: published

permissions:
  contents: read

jobs:
  push_to_registry:
    name: Push Docker ${{ matrix.image_name }} image
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        image_name: [nacos,sentinel]
        nacos_version: [2.3.2]
        sentinel_version: [1.8.8]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Extract Version
        id: version_step
        run: |
          if [ ${{ matrix.image_name == 'nacos' }} == true ];then
            echo "##[set-output name=version;]${{ matrix.nacos_version }}"
          elif [ ${{ matrix.image_name == 'sentinel' }} == true ];then
            echo "##[set-output name=version;]${{ matrix.sentinel_version }}"
          else
            echo "##[set-output name=version;]${GITHUB_REF#$"refs/tags/v"}"
          fi

      - name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ihubpub/${{ matrix.image_name }}
          flavor: |
            latest=auto
            prefix=
            suffix=-${{ matrix.image_name }}-${{steps.version_step.outputs.version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ${{ matrix.image_name }}
          file: ${{ matrix.image_name }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: VERSION=${{steps.version_step.outputs.version}}
