# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Docker image

on:
  release:
    types: published

permissions:
  contents: read

jobs:
  push_to_registry:
    name: Push Docker ${{ matrix.image_name }} image
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        image_name: [nacos,sentinel]
        nacos_version: [2.3.2]
        sentinel_version: [1.8.8]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Extract Version
        id: version_step
        run: |
          if [ ${{ matrix.image_name == 'nacos' }} == true ];then
            echo "##[set-output name=version;]${{ matrix.nacos_version }}"
          elif [ ${{ matrix.image_name == 'sentinel' }} == true ];then
            echo "##[set-output name=version;]${{ matrix.sentinel_version }}"
          else
            echo "##[set-output name=version;]${GITHUB_REF#$"refs/tags/v"}"
          fi

      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ihubpub/${{ matrix.image_name }}
          flavor: |
            latest=auto
            prefix=
            suffix=-${{ matrix.image_name }}-${{steps.version_step.outputs.version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.image_name }}
          file: ${{ matrix.image_name }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: VERSION=${{steps.version_step.outputs.version}}
