name: Sync Image to Docker Hub

on:
  push:
    paths: ".github/images/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image_name: [nacos,sentinel]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - name: Git pull
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - id: set_var
      run: |
        content=`cat .github/images/${{ matrix.image_name }}.json`
        # the following lines are only required for multi line json
        content="${content//'%'/'%25'}"
        content="${content//$'\n'/'%0A'}"
        content="${content//$'\r'/'%0D'}"
        # end of optional handling for multi line json
        echo "::set-output name=imageJson::$content"
    - run: |
        echo "::set-output name=registry::${{fromJson(steps.set_var.outputs.imageJson).registry}}"
        echo "::set-output name=namespace::${{fromJson(steps.set_var.outputs.imageJson).namespace}}"
        echo "::set-output name=name::${{fromJson(steps.set_var.outputs.imageJson).name}}"
        echo "::set-output name=version::${{fromJson(steps.set_var.outputs.imageJson).version}}"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Login to Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false

    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         skopeo copy docker://${{fromJson(steps.set_var.outputs.imageJson).registry}}/${{fromJson(steps.set_var.outputs.imageJson).namespace}}/${{fromJson(steps.set_var.outputs.imageJson).name}}:${{fromJson(steps.set_var.outputs.imageJson).version}} docker://ihubpub/${{ matrix.image_name }}:${{fromJson(steps.set_var.outputs.imageJson).version}} |
         skopeo copy docker://${{fromJson(steps.set_var.outputs.imageJson).registry}}/${{fromJson(steps.set_var.outputs.imageJson).namespace}}/${{fromJson(steps.set_var.outputs.imageJson).name}}:${{fromJson(steps.set_var.outputs.imageJson).version}} docker://ihubpub/${{ matrix.image_name }}:latest
