name: Sync Image to Docker Hub

on:
  push:
    paths: ".github/images/**"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image_name: [nacos,sentinel]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Git pull
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - id: set_var
      run: |
        content=`cat .github/images/${{ matrix.image_name }}.json`
        # the following lines are only required for multi line json
        content="${content//'%'/'%25'}"
        content="${content//$'\n'/'%0A'}"
        content="${content//$'\r'/'%0D'}"
        # end of optional handling for multi line json
        echo "::set-output name=imageJson::$content"
    - run: |
        echo "::set-output name=registry::${{fromJson(steps.set_var.outputs.imageJson).registry}}"
        echo "::set-output name=namespace::${{fromJson(steps.set_var.outputs.imageJson).namespace}}"
        echo "::set-output name=name::${{fromJson(steps.set_var.outputs.imageJson).name}}"
        echo "::set-output name=version::${{fromJson(steps.set_var.outputs.imageJson).version}}"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false

    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         skopeo copy docker://${{fromJson(steps.set_var.outputs.imageJson).registry}}/${{fromJson(steps.set_var.outputs.imageJson).namespace}}/${{fromJson(steps.set_var.outputs.imageJson).name}}:${{fromJson(steps.set_var.outputs.imageJson).version}} docker://ihubpub/${{ matrix.image_name }}:${{fromJson(steps.set_var.outputs.imageJson).version}} |
         skopeo copy docker://${{fromJson(steps.set_var.outputs.imageJson).registry}}/${{fromJson(steps.set_var.outputs.imageJson).namespace}}/${{fromJson(steps.set_var.outputs.imageJson).name}}:${{fromJson(steps.set_var.outputs.imageJson).version}} docker://ihubpub/${{ matrix.image_name }}:latest
